
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.75em;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

/* Header */ 

header {
    padding: 20px;
    background-color: #ac3b61;
    color: white;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding-left: 10px; 
}

a:hover {
    color: #123C69;
}

#underline {
    text-decoration: underline;
    color: #EEE2DC;
}

/* Main content */

main {
    margin: 20px;
}

img {
    width: 100%;
    border-radius: 2%;
}

p {
    padding: 20px 0;
}

h2 {
    color: #123C69;
}


/* Footer */

footer {
    background-color: #EEE2DC;
    padding: 90px 20px;
}

.FooterContent {
    padding: 20px;
}




footer h2 {
    padding-bottom: 10px;
}

footer h4 {
    padding: 10px 0;
}

footer p {
    padding: 0;
}

/* Quotes */

blockquote p {
    background-color: #EDC7B7;
    padding: 20px 20px 10px 20px;
    font-style: italic;
}

.quotes footer {
    background-color: white;
    padding: 0 0 10px 0;
}


@media screen and (min-width: 768px) {
    nav a {
        font-size: 30px;
        padding-left: 30px;
    }
   
   
   
    main {
        margin: 40px;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    .FooterContent {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .FooterFollowInfo {
        display: flex;
        flex-direction: column; 
    }

    .FooterContent div {
        padding: 0 50px;
    }
    


    h1 {
        font-size: 75px;
    }

    header a {
        font-size: 30px;
    } 
}

@media screen and (min-width: 1024px) {

    h2 {
        font-size: 30px;
    }

    h4 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

}