
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */ 

header {
    padding: 20px;
    background-color: orange;
    color: white;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding-left: 10px; 
}

/* Main content */

main {
    margin: 20px;
}

img {
    max-width: 100%;
    border-radius: 2%;
}

p {
    padding: 20px 0;
}

/* Projct abd blog posts */

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    min-width: 288px;
    max-width: 385px;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
}

.quotes {
    background-color: #FFDFBE;
    padding: 0 20px;
}

/* Footer */

footer {
    background-color: #FFDFBE;
    padding: 90px 20px;
}

footer h2 {
    padding-bottom: 10px;
}

footer h4 {
    padding: 10px 0;
}

footer p {
    padding: 0;
}