
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.75em;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

/* Header */ 


header {
    padding: 20px 20px 0 20px;
    background-color: #ac3b61;
    color: white;
}

nav {
    padding-bottom: 10px;
    background-color: #EDC7B7;
}

nav a {
    color: white;
    text-decoration: none;
    padding-left: 10px; 
}

a:hover {
    color: #123C69;
}

#underline {
    text-decoration: underline;
}

/* Main content */

main {
    margin: 20px;
}

img {
    width: 100%;

}

p {
    padding: 20px 0;
}

h2 {
    color: #123C69;
}


/* Footer */

footer {
    background-color: #EEE2DC;
    padding: 90px 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "name"
    "info";

}

.FooterContent {
    padding: 20px;
}




footer p {
    padding: 0;
}

/* Quotes */

blockquote p {
    background-color: #EDC7B7;
    padding: 20px 20px 10px 20px;
    font-style: italic;
}

.quotes footer {
    background-color: white;
    padding: 0 0 10px 0;
}


@media screen and (max-width: 768px) {

    .top_of_site {
        background-color: #ac3b61;

    }
    .hamburger_menu {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        color: white;
        padding-bottom: 20px;
    }

    .topnav {
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
    }
    
      .topnav #myLinks {
        display: none;
    }
    
      .nav_a {
        color: #123C69;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

}


@media screen and (min-width: 768px) {
    nav a {
        font-size: 30px;
        padding-left: 30px;
    }

    .topnav #myLinks {
        display: block;
    }

    nav {
        background-color: #ac3b61;

    }
   
    
    a:hover {
        color: #123C69;
    }
    .hamburger_menu i {
        display: none;
    }
   
   
    main {
        margin: 40px;
    }

    /* footer {
        display: flex;
        justify-content: center;
    } */

    footer {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: "name info";
        align-content: center
       
    }

    footer h2{
        align-self: center;
        text-align: center;
    }

    .FooterContent {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .FooterFollowInfo {
        display: flex;
        flex-direction: column; 
    }

    .FooterContent div {
        padding: 0 20px;
    }
    


    h1 {
        font-size: 75px;
    }

    header a {
        font-size: 30px;
    } 
}

@media screen and (min-width: 1024px) {

    h2 {
        font-size: 30px;
    }

    h4 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

}


footer h2 {
    grid-area: name;
}

.FooterContent {
    grid-area: info;
}
