

img {
    max-width: 100%;
    padding-bottom: 10px;
    border-radius: 0;
}

.TitleOnPost {
    text-decoration: none;
    color: black;
    padding-bottom: 10px
}

article {
    text-align: center;
    padding: 0 20px;

}

article p {
    padding: 10px 0 10px 0;
}

.ReadMore {
    text-decoration: none;
    color: orange;
    font-weight: 900;
}