

img {
    max-width: 100%;
    padding-bottom: 10px;
    border-radius: 0;
}

.TitleOnPost {
    text-decoration: none;
    color: black;
    padding-bottom: 10px
}

article {
    text-align: center;
    padding: 20px 20px;
}

article div {
    /* background-color: #FFDFBE; */
    padding-bottom: 10px; 
}

article p {
    padding: 10px 5px;
}

.ReadMore {
    text-decoration: none;
    color: #ac3b61;
    font-weight: 900;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}
.column {
    flex: 100%;
    max-width: 100%;
  }

@media screen and (min-width: 768px) {

.colum {
    flex: 50%;
    max-width: 50%;
}


}

@media screen and (min-width: 1440px) {

    .colum {
        flex: 33%;
        max-width: 32%;
        /* padding: 0 4px; */
    }

}

#colum1 {
    grid-area: a1;
}

#colum2 {
    grid-area: a2;
}

#colum3 {
    grid-area: a3;
}


/* In blog */



.PostImg {
    margin-top: 20px;
    padding: 0;
}

footer {
    clear: both;
}

blockquote {
    display: grid;
}


blockquote footer {
    padding: 0;
    background-color: white;
    clear: none;    
}


@media screen and (min-width: 768px) {
    .PostImg {
        width: 50%;
        float: left;
        margin-right: 20px;
        display: block;
    }
}

