img {
    margin: 10px 0 20px 0;
}

.inputField {
    display: flex;
    flex-direction: column;
}

.inputfieldsDesign {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: lightgray;
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

#ContactButtonDesign {
    background-color: orange;
    color: white;
    border-style: none;
    font-size: 15px;
    padding: 8px 20px;
    font-weight: 600; 
}




