main img {
    margin-top: 20px;
    max-width: 385px;
    min-width: 280px;
    height: auto;
    border-radius: 0;
}

section {
    background-color: #EDC7B7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    grid-template: 
    "insta link"
    "twitter face"
    "youtube youtube";
    justify-items: center;
    align-items: center;
    padding: 20px 0;
}

.icons {
    width: 100%;
    transition: transform .2s; /* Animation */

}

.icons img:hover {
    transform: scale(1.3);
}

.latest {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    margin: 20px 0;
}

.latest div {
    display: flex;
    height: 300px;
    flex-direction: column;
    background-color: violet;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.latest a {
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    font-weight: 200;
    padding: 4px 5px;
}

.latest a:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 424px) {
    #youtube_container {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 425px) {
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template: 
        "insta link twitter"
        "face youtube";
    }
    /* #youtube_container {
        grid-column-start: 3;
        grid-column-end: 3;
    } */
}


@media screen and (min-width: 768px) {

    #index_img_text {
        display: flex;
        flex-direction: row;
    }

    main img {
        padding-right: 20px;
    }

    p {
        padding-bottom: 0;
    }
    
    main {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }


    h2 {
        margin-top: 20px;
    }

    section{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template: 
        "insta link twitter face youtube";
    }

}


#instagram{
    grid-area: insta;
}

#linkedin {
    grid-area: link;
}

#twitter {
    grid-area: twitter;
}

#facebook {
    grid-area: face;
}

#youtube {
    grid-area: youtube;
    
}




