
.column {
    width: 25%;
    padding-right: 5px;
  }
 
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  #last_column {
    padding: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }



@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "bigpic bigpictext"
    "afterPost bigpictext";
  }


  main p {
    padding-left: 20px;
    padding-top:0; 
  }

}

h2 {
  grid-area: header;
}

.pictures {
  grid-area: bigpic;
}

main p {
  grid-area: bigpictext;
}

/* .rows {
  grid-area: smalpic;
} */

section {
  grid-area: afterPost;
}

.gameSummery
{
  cursor: pointer;
}