
header {
    margin: 0;
}

#projects_header2 h2{
    color: white;
    margin: 0;
}

#projects_header2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 0px 0;
<<<<<<< HEAD
}

#see_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 20px;

    color: white;
}

#see_projects:hover {
    color: #123C69;
}

#arrow {
    max-width: 50px;
}

main {
    margin: 0;
}

.grid {
    align-items: center;
    justify-items: center;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

article:hover #discription_proj {
    display: block;
}

/* .proj_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
} */

article:hover {
    box-shadow: inset 0 0 20px black;
}

#discription_proj {
    background-color: black;
    color: white;
    width: 100%;
    display:none;
    bottom: 0;
    vertical-align: bottom;
}



/* .proj_content_holder {
    width: 100%;
    height: 100%;
} */

.projects{
    font-weight: 700;
    font-size: 50px;
    transition: transform .2s; 
}

.projects:hover {
    transform: scale(0.8);
    /* Make so it happens at same time */
=======
}

#see_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 20px;

    color: white;
}

#see_projects:hover {
    color: #123C69;
}

#arrow {
    max-width: 50px;
}

main {
    margin: 0;
}

.grid {
    align-items: center;
    justify-items: center;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.projects p {
    font-weight: 700;
>>>>>>> ff0b71142d72cc239f7467333c6ed74867ff5fd4
}

p {
    padding: 0;
}


@media screen and (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "p1 p2"
        "p3 p4"
        "p5 p6"
        "p7 p8"
        "p9" "";
        align-items: center;
        justify-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "p1 p2 p3"
        "p4 p5 p6"
        "p7 p8 p9";
        align-items: center;
        justify-items: center;
    }

    #projects_header2 {
        padding: 160px 0 0px 0;
    }
    
    #see_projects {

        padding: 160px 0 60px;
    }
}





<<<<<<< HEAD
/* grid-areas and backgroundcolors */
=======
/* grid-areas and styling for diffrent projects */

.projects_container:hover {
    box-shadow: inset 0 0 20px black;
}
>>>>>>> ff0b71142d72cc239f7467333c6ed74867ff5fd4

#proj1 {
    grid-area: p1;
}
#proj1_container {
    background-color: lightgray;
<<<<<<< HEAD
    border-collapse: collapse; 
=======
>>>>>>> ff0b71142d72cc239f7467333c6ed74867ff5fd4
}

#proj2 {
    grid-area: p2;
    color: darkgreen;
}
#proj2_container {
    background-color: #E3AEA3;
}


#proj3 {
    grid-area: p3;
}
#proj3_container {
    background-color: #FAD2C0;
}

#proj4 {
    grid-area: p4;
}
#proj4_container {
    background-color: #bab2B5;
}

#proj5 {
    grid-area: p5;
}
#proj5_container {
    background-color: #6E5C54;
}

#proj6 {
    grid-area: p6;
}

#proj6_container {
    background-color: #C7BFC2;
}

#proj7 {
    grid-area: p7;
}

#proj7_container {
    background-color: #EDC7B7 ;
}

#proj8 {
    grid-area: p8;
}

#proj8_container {
    background-color: #FAD2C0;
}

#proj9 {
    grid-area: p9;
}

#proj9_container {
    background-color: #7A7677;
}

